* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --Light-Blue: #19202a;
}
body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--Very-Dark-Blue);
  padding: 0 1.5em;
}
.box {
  background-color: var(--Light-Blue);
  width: 100%;
  max-width: 375px;
  height: 100%;
  min-height: 300px;
  border-radius: 10px;
  display: grid;
  place-items: left;
  padding: 1.1em;
  grid-gap: 0;
  margin:0 auto;
  margin-top: 10vh;
}
.box__hide {
  display: none;
}
.box__icon-star {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--Dark-Blue);
  padding: 12px;
  object-fit: cover;
}
.box__title {
  width: 100%;
  text-align: left;
  color: var(--White);
  font-size: 1.5rem;
  font-weight: 400;
}
.box__pharse {
  width: 100%;
  text-align: start;
  color: var(--Medium-Grey);
  font-weight: 400;
  font-size: 0.9rem;
}
.box__options {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box__options .option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--Medium-Grey);
  font-weight: 400;
  background-color: var(--Dark-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box__options .option:hover {
  background-color: var(--Orange);
  transition: 0.4s ease;
  color: var(--White);
}

.box__button-submit {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border-color: var(--Very-Dark-Blue);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--White);
  letter-spacing: 3px;
  background-color: var(--Orange);
  cursor: pointer;
}
.box__button-submit:hover {
  color: var(--Orange);
  background-color: var(--White);
  transition: 0.4s ease;
}

.box__state {
  background-color: var(--Light-Blue);
  width: 100%;
  max-width: 375px;
  height: 100%;
  min-height: 300px;
  border-radius: 10px;
  display: none;
  place-items: center;
  padding: 1.1em;
  grid-gap: 0;
  margin-top: 10vh;
  margin:0 auto;
}
.box__state-active {
  display: grid;
}
.box__state-img {
  width: 120px;
}
.box__state-selected {
  width: auto;
  padding: 8px 1rem;
  border-radius: 20px;
  text-align: center;
  background-color: var(--Dark-Blue);
  color: var(--Orange);
}
.box__state-selected::first-letter {
  text-transform: uppercase;
}
.box__state-thank {
  width: 100%;
  text-align: center;
  color: var(--White);
  font-size: 1.5rem;
  font-weight: 700;
}
.box__state-thank::first-letter {
  text-transform: uppercase;
}
.box__state-pharse {
  width: 100%;
  text-align: center;
  color: var(--Medium-Grey);
  font-weight: 400;
  font-size: 0.9rem;
}
@media(min-width:376px){
  .box,.box__state{
    margin-top: 20vh;
  }
}